@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Notable&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
        position: sticky;
        background: linear-gradient(90deg, #479E94 0.23%, #A3E3D7 99.74%);
           
        }
        
.topbanner {
    position: relative;
    display: flex;
    width: 95vw;
    height: 25.5vh;
    border-radius: 37px;
    background: #FFF;
    box-shadow: 0 13px 0 2px rgba(194, 184, 184, 0.38);
    margin: 20px auto 0 auto;
}
        
.logo img{
    height: 23vh;
    margin-left: 240%;
    padding: 10px 10px 10px 0px;
}

.bannertext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.9;
    margin-left: 27%;
    padding: 10px 10px 30px 10px;
}

.LIGTAS{
    color: #377e90;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 0;
    line-height: 1;
}

.PILA{
    color: #49a597;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 0;
    line-height: 1;
}

.subtitle{
    color: #b4b4b4;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
}

.adminbox, .clientbox{
    border: none;       
    outline: none;
    background-color: #ffffff;
    width: 200px;
    height: 220px; 
    border-radius: 30px;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    box-sizing: border-box;
    padding-top: 35px; 
}

.adminpicture{
    height: 170px;
    width: 200px;
    display: block;
    transform: translateY(-20px);
}

.clientpicture{
    height: 170px;
    width: 200px;
    display: block;
    transform: translateY(-10px);
}

.adminbox h2{
    color: #168060;
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    position: relative; 
    transform: translateY(-60px);
}

.clientbox h2{
    color: #168060;
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    position: relative; 
    transform: translateY(-30px);
}
        
.cards-container {
    display: flex;
    flex-direction: row;     
    align-items: flex-start; 
    gap: 70px;               
    margin: 130px 0 40px 110px;
    transform: translateX(5%);
}

button {
  font: inherit;
  background-color: #f0f0f0;
  border: 0;
  color: #242424;
  border-radius: 0.5em;
  font-size: 1.35rem;
  padding: 0.375em 1em;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.15s ease;
  cursor: pointer;
}
button:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
    0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
    0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}


/*images*/

.container2{
    width:60vmin;
    position: absolute;
    overflow: hidden;
    border-radius: 8px;
    border: 10px solid #ffffff;
    box-shadow: 10px 25px 30px rgba(30, 200, 191, 0.3);
    transform: translate(140%, -30%);
}
.wrapper{
    width: 400%;
    display: flex;
    animation: slide 16s infinite;
}
@keyframes slide{
    0%   { transform: translateX(0); }
    20%  { transform: translateX(0); }
    23%  { transform: translateX(-25%); }   /* slides in 3% */
    43%  { transform: translateX(-25%); }
    46%  { transform: translateX(-50%); }
    66%  { transform: translateX(-50%); }
    69%  { transform: translateX(-75%); }
    100% { transform: translateX(-75%); }
}
.wrapper img{
    width: 25%;
}