* {
    
    
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2eb89a, #a8e6cf);
   
   
}

.fullcontainer {
    background-color: white;
    width: 99vw;
    padding: 30px;
    height: 82vh;
    overflow-y: auto;
    margin-top: 20px;
}

.container {
    border: 2px solid black;
    border-radius: 8px;
    width: 90vw;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 70vh;
    padding: 14px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}

th {
    background-color: #2eb89a;
    color: white;
    padding: 10px 8px;
    text-align: left;
    white-space: nowrap;
    min-width: 100px;
    position: sticky;
    top: -14px;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    min-width: 100px;
    max-width: 200px;
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e8f5e9;
}

.logo {
    height: auto;
    width: fit-content;
    background-color: white;
    border-radius: 33px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto 10px auto;
}

.logoimg {
    height: 60px;
    width: auto;
}

.logo-text {
   
    flex-direction: column;
    justify-content: center;
}

.LIGTAS {
    color: #377e90;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;
}

.PILA {
    color: #49a597;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;
}

.text-bottom {
    color: #A9A7A7;
    font-family: Montserrat;
    font-size: 7px;
    font-weight: 700;
    letter-spacing: 1.8px;
    margin-top: 2px;
}